h1 {
    font-size: 1.6rem;
    margin: 0 0 0.5rem 0;
    text-align: center;

    @media screen and (min-width: $break-small) {
        margin: 0 0 1rem 0;
        text-align: left;
    }
}

.selected {
    color: $highlight-color;
}
