@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

$main-color: #4f5b60;
$lighter-color: #72848c;
$highlight-color: #10b1dc;
$dark-background-color: #122f3b;

body {
    color: $main-color;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header" "menu content";
}

header {
    background: $dark-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 300;
    grid-area: header;
}

.title {
    margin-left: 1.5rem;
    font-size: 1.8em;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#0daedf, #2cd3c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    grid-area: content;
    padding: 1.5rem;
}

aside {
    grid-area: menu;
}

.selected {
    color: $highlight-color;
}

.list-description {
    color: $lighter-color;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
}

ul {
    list-style-type: none;
    margin: 1.5rem;
    padding: 0;
    li {
        color: $lighter-color;
        &:hover {
            color: $highlight-color;
            cursor: pointer;
        }
    }
}

.top-list-item {
    margin-bottom: 0.3rem;
}

.order,
.composer,
.work {
    display: inline-block;
}

.order {
    font-size: 1.4rem;
    font-weight: 400;
    padding-right: 1rem;
    text-align: right;
    width: 2rem;
}

.composer {
    font-size: 1.4rem;
    font-weight: 300;
    margin-right: 0.8rem;
}

.work {
    font-weight: 500;
}
